<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>STI CCT Tandil</title>
  </head>
  <body>
    <h1>Lista de Requerimientos Técnicos</h1>
      <div class="container-fluid">
        <ul class="list-groups">
            {{#each prioridades}}
            <li class="list-group-item">{{this.name}}</li>
            {{/each}}
        </ul>
        </div>
  </body>
</html>